.nav-link {
  color: #e0ab5f !important;
  opacity: 0.7;
  font-weight: 500;
}
.active {
  opacity: 1;
}
.no-bg {
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.btn-browny {
  background: #ba4f19 !important;
}
.text-browny {
  color: #ba4f19 !important;
}
